@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@200;400;600&family=Nunito+Sans:ital,wght@0,200;1,400;1,700&display=swap');

body{
    margin:0;
    padding: 0;
    background: url(../images/smit.jpg);
    background-size: cover;
    background-position: top;
    font-family: 'Gluten', sans-serif;
    text-transform: uppercase;
}