@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@200;400;600&family=Nunito+Sans:ital,wght@0,200;1,400;1,700&family=Nunito:ital,wght@0,400;0,700;1,200&display=swap');

body{
    background:url(http://bit.ly/2gPLxZ4);
    background-size: cover;
}

.container{
    display: flex;
    flex-direction: column;
    margin:5em 25%;
    background-color: rgba(255, 255, 255, 0.116);
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito',sans-serif;
    color:#fff;
    text-transform: uppercase;
}

h1{
    font-weight: 700;
    text-align: center;
    margin-bottom: 0;
}

.line{
    border:1px solid #ffffff;
    width:70%;
    margin:2em 0;
}

.head .line{
    width:100%;
    margin-top:0.5em;
}

ul{
    list-style-type: none;
    text-align: center;
    font-size:1.2em;
    font-weight: 700;
    margin:0;
    padding:0;
}

img{
    width:320px;
    height:320px;
}

.buttons{
    display: flex;
    width:100%;
    justify-content: space-evenly;
}
.buttons a{
    text-decoration: none;
    border: 1px #f4a261 black;
    padding:10px 30px;
    background-color: #f4a261;
    color:#fff;
    border-radius: 4em;
    transition: 1s linear;
    box-shadow: inset 0 0 0 0 #2a9d8f;
}

.buttons a:hover{
    box-shadow:inset 0 0 200px 0 #2a9d8f;
    cursor: pointer;
}

.free{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
h2{
    text-align: center;
    margin-top: 0;
}

.free a{
    text-decoration: none;
}

.free img{
    margin: 1em 2em;
    width:300px;
    height: 300px;
    border-radius: 50%;
    transition: border-radius 0.25s ease-in;
}

.free img:hover{
    border-radius: 10%;
}